<div class="bb-embed-wrap">
  <div class="bb-embed-inner">
    <!-- Inline chat used as “search bar + conversation” -->
    <div class="bb-embed-wrap">
      <div class="bb-embed-inner">
        <blue-search-inner-embed
          id="bb-chat-embed"
          [title]="title"
          [persist]="persist"
          [welcomeText]="welcomeText"
          [logoSrc]="logoSrc"
          [logoAlt]="logoAlt"
          [appid]="appid"
          [userid]="userid"
          [gptid]="gptid"
          [assistandid]="assistandid"
          [lang]="lang"
          [translations]="translations"
          [headerIsRound]="headerIsRound"
          [headerLogoInitialLocal]="headerLogoInitialLocal"
          [headerLogoBg]="headerLogoBg"
          [assetsBase]="assetsBase"
        >
        </blue-search-inner-embed>
      </div>
    </div>
  </div>
</div>
